<header>
	<nav>
		<a href="/" class="damco">DAMCO</a>
		<a href="">{{name}}</a>
		<img src="{{url}}" alt="image of {{name}}">
	</nav>
</header>

<main>
	<section class="calendar">
		<ul class="calendar-months">
			{{#each months}}
				<li><a href="#{{this}}">{{this}}</a></li>
			{{/each}}
		</ul>
		
		<form action="" class="calendar-days">
			<ul class="days-title">
				<li>Ma</li>
				<li>Di</li>
				<li>Wo</li>
				<li>Do</li>
				<li>Vr</li>
				<li>Za</li>
				<li>Zo</li>
			</ul>

			<ul>
				{{#each days}}
					<li class="calendar-days--item {{#if this.class}}{{class}}{{/if}}">
						<input id="{{@key}}" type="checkbox" checked>
						<label for="{{@key}}">{{@key}}</label>
						<span class="amount amount-{{this.indication}}">{{this.indication}}%</span>
						<span class="amount-total">{{this.indication}}%</span>
						<!-- <ul>
							{{#each this.avalible}}
								<li>{{this}}</li>
							{{/each}}			
						</ul> -->
					</li>
				{{/each}}
			</ul>
			
			<input type="submit">
		</form>
	</section>
</main>