<header>
	<nav>
		<a href="/" class="damco">DAMCO</a>
		<a href="">{{name}}</a>
		<img src="{{url}}" alt="image of {{name}}">
	</nav>
</header>

<main>
	<section class="calendar">
		<ul class="calendar-months">
			{{#each months}}
				{{#ifCond this ../currentMonth}}
				    <li><a href="/2016/{{this}}" class="active">{{this}}</a></li>
				{{else}}
				    <li><a href="/2016/{{this}}">{{this}}</a></li>
				{{/ifCond}}
			{{/each}}
		</ul>
		
		<form action="/calendar/sendCalendar" method="post" class="calendar-days">
			<ul class="days-title">
				<li>Ma</li>
				<li>Di</li>
				<li>Wo</li>
				<li>Do</li>
				<li>Vr</li>
				<li>Za</li>
				<li>Zo</li>
			</ul>

			<ul>
				{{#each days}}
					<li class="calendar-days--item {{#if this.class}}{{class}}{{/if}}">
						<input id="{{@key}}" type="checkbox" name="{{this.fullDate}}" {{#if this.present}} checked {{/if}} {{#if this.class}} disabled {{/if}}>
						<label for="{{@key}}">{{@key}}</label>
						<span class="amount amount-{{this.indication}}">{{this.indication}}%</span>
						<span class="amount-total">{{this.indication}}%</span>
						<!-- <ul>
							{{#each this.avalible}}
								<li>{{this}}</li>
							{{/each}}			
						</ul> -->
					</li>
				{{/each}}
			</ul>
			
			<input type="submit">
		</form>
	</section>
</main>