<header>
	<nav>
		<a href="/" class="damco">DAMCO</a>
		<a href="">{{name}}</a>
		<img src="{{url}}" alt="image of {{name}}">
	</nav>
</header>

<main>
	<section class="calendar">
		<ul class="calendar-months">
			{{#each months}}
				<li><a href="#{{month}}">{{this}}</a></li>
			{{/each}}
		</ul>
		
		<form action="" class="calendar-days">
			<ul>
				{{#each days}}
					<li class="calendar-days--item">
						<!-- <span>{{@key}}</span>  bijvoorbeeld Vr -->
						<label for="{{@key}}">{{@key}}</label>
						<input id="{{@key}}" type="checkbox">
						<span class="amount-{{this.indication}}">{{this.indication}}</span>
						<!-- <ul>
							{{#each this.avalible}}
								<li>{{this}}</li>
							{{/each}}			
						</ul> -->
					</li>
				{{/each}}
			</ul>
			
			<input type="submit">
		</form>
	</section>
</main>