<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    
    <link rel='stylesheet' href='/css/style.min.css' />
  </head>
  <body>
  <header>
    <nav>
      <a href="/" class="dropdown">Calendar - This week</a>
      {{#if name}}
        <a href="/user/{{name}}" class="user">{{name}}</a>
      {{else}}
        <a href="/user/login">Login/Sign-up</a>
      {{/if}}
      {{#if url}}
        <img src="{{url}}" alt="image of {{name}}">
      {{/if}}
    </nav>
  </header>
    {{{body}}}
  
    <a href="/feedback" class="feedback">Feedback</a>

    <script src="/js/main.min.js"></script>
  </body>
</html>
